

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  display: flex;
  flex-wrap: wrap;
}
.nav{
  display: flex;
  width:max-content;
  height: fit-content;
  background-color: pink;
}

.nodec{
display: block;
justify-content: space-evenly;
padding: 50px;
flex-wrap: nowrap;
text-decoration: none;
font-size: 30px;
color: white;
text-shadow: 2px 2px blue;
}


body{
  background-color: hotpink;
}
.movienames{
  display: flex;
  flex-wrap: nowrap;

}
.text{
  color: white;
  display: flex;
  justify-content: center;
}

.text2{
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.text3{
  color: white;
}



.tab{
  position: absolute;
  display: flex;
  left: 300px;
  top: 50px;
 
  padding: 10px;
  color: white;
}

.tab2{
  position: absolute;
  display: flex;
  left: 300px;
  top: 600px;
  padding: 10px;
  color: white;
}




.title{
  color: white;
  flex-wrap: nowrap;
  text-shadow: 2px 2px blue;
}


.movies{
  display: flex;
}

.movies img{
  width: 300px;
 margin: 10px;
}

.tvs{
  display: flex;
}

.tvs img{
  width: 300px;
 margin: 10px;
}


.moviegenre{
  position:absolute;
  right: 500px;
  display: block;
  width: fit-content;
  top: 200px;
}

.tvgenre{
  display: block;
  position: absolute;
  left: 500px;
  top: 200px;
  width: fit-content;
}

.singletext{
  position: relative;
  left: 300px;
  display: flex;
  color: white;
justify-content: flex-end;
  
  width: fit-content;
font-size: 50px;
}



.detailsingleO{
  position: relative;
  left: 700px;
  bottom: 200px;
  width: 700px;
  display: flex;
  justify-content: center;
  color: white;
  word-wrap: break-word;
  font-size: larger;
}

.video{
  display: flex;
justify-content: center;
  position: absolute;
  top:150px;
  left: 300px;
  width: 800px;
  height: 500px;
  margin: 10px;
}

.single{
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 75px;
  left: 210px;

}

.single2{
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 40px;
  left: 125px;

}

.singlein{
  position: relative;
  display: flex;
  justify-content: center;
  right: 100px;
}

.singlein2{
  position: relative;
  display: flex;
  justify-content: center;
  right: 100px;
  top: 20px;
}

.search{
  width: 100%;
  text-align: center;
}